<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Kwetter - Overview</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td>Content</td>
                    <td>Likes</td>
                </tr>
            </thead>

            <tbody>
                <tr th:each="tweet : ${tweets}">
                    <td th:text="${tweet.content}"></td>
                    <td th:text="${#lists.size(tweet.likes)}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>